
#item, #item2, #item3, #item4, #item5, #item6, #item7, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14, #item15, #item16, #item17, #item18, #item19, #item20, #item21, #item22, #item23, #item24, #item25{
    border-radius:100px;
    /*border:50px solid #5ae;*/
    width: 80px;
    height: 80px;
}
.main{
   border: 3px solid green;
   min-height: 620px; 
   width: 100%;
   overflow: hidden;
   position: relative; 
}

h2 {
   font-family: 'Montserrat', sans-serif;
   color: red;
   font-size: 20px;
}

h3 {
   color:black;
   font-family: 'Montserrat', sans-serif;

}
p{
   color:black;
   font-family: 'Montserrat', sans-serif;
   left: 30px;
}
.expl{
   font-family: 'Montserrat', sans-serif;
   color: rgba(31, 209, 0, 1);
   font-size: 20px;
}
#counter{
  font-size: 100px;
}
.start-game{
   display: block;
   padding: 15px 30px;
   background: #3498DB;
   opacity: 0.8;
   transition: opacity 0.3s;
   position: absolute;
   color: green;
   text-transform: uppercase;
   text-decoration: none;
}
.start-game:hover, .play-again:hover{
   opacity: 9;
}
.start-game.initialized{
   display: none;
}

#start-game {
   display: block;
   padding: 15px 30px;
   background: #3498DB;
}
.game-over {
   position: absolute;
   color: red;
   font-size: 50px;
   top: 300px;
   left: 700px;
}
.name {
   font-family: 'Montserrat', sans-serif;
   color: rgba(31, 209, 0, 1);
   font-size: 30px;
}
.score{
   font-family: 'Montserrat', sans-serif;
   color: red;
   font-size: 50px;
   left: 50%;

   }
.balloon {
   position: absolute;
}

.balloon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 300px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

img {
   position: absolute;
   top: 10px;
   left: 70%;
   display: none;
   height: 25%;
   width: 25%;
}

