
#item, #item2, #item3, #item4, #item5, #item6, #item7, #item7, #item8, #item9, #item10, #item11{
    border-radius:100px;
    /*border:50px solid #5ae;*/
    width: 50px;
    height: 50px;
}

#start{
   float:right;
}

#reset{
   float:left;
}

.score{
   font-family: 'Montserrat', sans-serif;
   color: rgba(31, 209, 0, 1);
   font-size: 24px;
   }
